In [1]:
# ai_prod.ads_ai_raw_label_a表里有订单的pair_created_time
# 将订单的pair_created_time和20220831的数据进行拼接

In [9]:
# 拉取ai_prod.ads_ai_raw_label_a数据到generalization_data文件夹

import pandas as pd
import numpy as np

# 读取截止到20220908号的所有订单时间数据，规模87118
order_time_df = pd.read_csv('../generalization_data/raw_label_order_time_20220908_spark.csv').drop('Unnamed: 0', axis=1)
order_time_df

,cv_id,jd_id,pair_created_time
0,2c9207157bcb9549017bce3ea49b00fa,2c9207157bcbb76b017bce3d99ba059a,2021-09-10 13:47:09.0
1,2c9207157bf91042017c1040330d04d3,2c9207157bcbb76b017bec76efca1ca5,2021-09-23 09:24:36.0
2,2c9207157bf91042017c10f871d309f4,2c9207157f347800017f624770866105,2022-03-07 13:34:30.0
3,2c9207157bf91042017c62fce2583411,2c9207157b9b9199017bca11fd3d3f11,2021-10-09 11:34:45.0
4,2c9207157bf91042017c6ecc163d3aa8,2c9207157bf94d99017c6ecb294930b1,2021-10-13 11:07:25.0
...,...,...,...
87113,8a69d7c282199453018246ebf6b60643,8a69f67f82198d89018234adfcd91510,2022-07-29 18:22:52.0
87114,8a69d7c282199453018247bb00cb68a3,8a69c468826ee9b40182831bedfc5e79,2022-08-09 22:57:54.0
87115,8a69d7c282199453018247bb00cb68a3,8a69f6f8823a93b9018247c30aca4e3d,2022-07-29 10:22:59.0
87116,8a69f61382c6b6bc0182c92cf3643a4e,8a69c47b82590db9018262eaeef0245b,2022-08-23 13:29:03.0
87117,8a69f68b828a2cd901829182c78e1c50,8a69c468826ee9b4018290a8b6460496,2022-08-12 18:04:04.0

In [14]:
# 以cv_id和jd_id进行去重，去重后规模83468
order_time_df_drop_dup = order_time_df.drop_duplicates(subset=['cv_id', 'jd_id'], keep='first').reset_index(drop=True)
order_time_df_drop_dup

,cv_id,jd_id,pair_created_time
0,2c9207157bcb9549017bce3ea49b00fa,2c9207157bcbb76b017bce3d99ba059a,2021-09-10 13:47:09.0
1,2c9207157bf91042017c1040330d04d3,2c9207157bcbb76b017bec76efca1ca5,2021-09-23 09:24:36.0
2,2c9207157bf91042017c10f871d309f4,2c9207157f347800017f624770866105,2022-03-07 13:34:30.0
3,2c9207157bf91042017c62fce2583411,2c9207157b9b9199017bca11fd3d3f11,2021-10-09 11:34:45.0
4,2c9207157bf91042017c6ecc163d3aa8,2c9207157bf94d99017c6ecb294930b1,2021-10-13 11:07:25.0
...,...,...,...
83463,8a69d7c282199453018246ebf6b60643,8a69f67f82198d89018234adfcd91510,2022-07-29 18:22:52.0
83464,8a69d7c282199453018247bb00cb68a3,8a69c468826ee9b40182831bedfc5e79,2022-08-09 22:57:54.0
83465,8a69d7c282199453018247bb00cb68a3,8a69f6f8823a93b9018247c30aca4e3d,2022-07-29 10:22:59.0
83466,8a69f61382c6b6bc0182c92cf3643a4e,8a69c47b82590db9018262eaeef0245b,2022-08-23 13:29:03.0
83467,8a69f68b828a2cd901829182c78e1c50,8a69c468826ee9b4018290a8b6460496,2022-08-12 18:04:04.0

In [12]:
# 读取20220831的所有数据，规模83301
data_20220831 = pd.read_csv('../data_20220831/raw_cvjd_20220831_spark.csv').drop(['Unnamed: 0'], axis=1)
data_20220831

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,cv_id,jd_id,jd_code,title,deadline,category_id,category_name,company_id,company_name,recruit_number,...,updatedBy,updatedTime,uploaderId,version,workYear,avatar,eduTracks,jobTracks,projectTracks,ds.1
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,JD20210910115615503390,市场营销负责人,2021-11-30 23:59:59.0,140101,市场营销,2c9207157bcbb76b017bcdd5f254038a,深圳市快易典教育科技有限公司,1,...,67,2021-12-16 17:25:39,67,1,13.0,NaN,"['{""degree"": ""本科"", ""endDate"": ""2008-07"", ""id"":...","['{""companyName"": ""深圳市亿科数字科技有限公司"", ""descriptio...","['{""companyName"": ""*深圳市蜂联科技有限公司（奇虎360）"", ""desc...",20220831
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,JD20210918160449291911,会员管理经理,2021-10-31 23:59:59.0,130101,用户运营,2c9207157b9b9199017bc895b2f23a39,上海晨光文具股份有限公司,1,...,2c9207157bcd68cf017bf309f6cb003c,2021-09-22 21:00:12,2c9207157bcd68cf017bf309f6cb003c,1,7.0,NaN,"['{""degree"": ""本科"", ""endDate"": ""2014-06"", ""id"":...","['{""companyName"": ""北京美餐好客科技有限公司"", ""companyNatu...","['{""description"": ""项目描述: 母婴类人群，包含童装、童鞋、奶粉。\\n运...",20220831
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,JD20210923104433723714,产品市场经理,2021-10-31 23:59:59.0,110101,产品经理,2c9207157bf94d99017c108765c804aa,凯斯纽荷兰（中国）管理有限公司,1,...,121,2021-10-12 09:51:56,121,1,14.0,NaN,"['{""degree"": ""硕士"", ""endDate"": ""2012-09"", ""id"":...","['{""companyName"": ""Continental Tires (China) L...",NaN,20220831
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,JD20211126124504034196,海外区域运营经理/高级经理,2022-02-28 23:59:59.0,130000,运营,2c9207157bf94d99017c1714f34e1715,广州市百果园网络科技有限公司,1,...,2c9207157bcd68cf017becb0f28b0025,2021-11-23 10:16:45,2c9207157bcd68cf017becb0f28b0025,1,3.0,NaN,"['{""degree"": ""硕士"", ""endDate"": ""2019-06"", ""id"":...","['{""companyName"": ""北京星制科技有限公司（全民快乐）"", ""descrip...","['{""description"": ""主播表现，直播平均 2 场，平台新用户 12926，主...",20220831
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,JD20211130113932574529,高级项目经理,NaN,310000,高级管理,2c9207157bf94d99017c2f902e952262,深圳纳欣科技有限公司,1,...,28,2021-12-15 13:47:16,28,1,5.0,https://image0.lietou-static.com/big/5f8fa3bde...,"['{""degree"": ""硕士"", ""endDate"": ""2016-07"", ""id"":...","['{""companyName"": ""酷狗音乐"", ""companyTags"": ""互联网+...","['{""companyName"": ""酷狗音乐"", ""description"": ""酷狗20...",20220831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83296,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,JD20220822112125679712,品牌负责人,NaN,130402,运营总监,8a69c4df82b081d30182c37f39d00627,浙江温家味食品科技有限公司,1,...,8a69f61e82926af00182c9b341b36129,2022-08-23 17:15:26,8a69f61e82926af00182c9b341b36129,1,11.0,NaN,"['{""endDate"": ""2012-06"", ""unified"": true, ""deg...","['{""endDate"": ""2022-06"", ""companyName"": ""江苏领迅食...","['{""name"": null}']",20220831
83297,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,JD20220818193847553940,大区销售总监,NaN,140402,销售总监,8a69c47b82b07fdc0182b0b5e27a6357,上海普适导航科技股份有限公司,5,...,8a69c4b9820f193401821984f2517399,2022-08-25 13:50:02,8a69c4b9820f193401821984f2517399,1,14.0,NaN,"['{""endDate"": ""2008-06"", ""unified"": true, ""deg...","['{""endDate"": ""2022-08"", ""companyName"": ""安徽庆宇光...","['{""name"": null}']",20220831
83298,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,JD20220520123312243433,java开发工程师（不限方向）,NaN,100101,Java,2c92071580b3a1010180dcf9c08d56cc,上海泛微软件有限公司,30,...,2c92071581ec1aab0181f0475082756f,2022-08-22 10:59:17,2c92071581ec1aab0181f0475082756f,1,5.0,NaN,"['{""endDate"": ""2018-07"", ""unified"": true, ""deg...","['{""endDate"": ""2022-08"", ""companyName"": ""泰猎人力(...","['{""description"": ""项目描述: 客服云智库是河南电信客服人员内部使用的一套...",20220831
83299,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,JD20220629161617600853,Legal Senior Manager,NaN,150506,法务经理,2c9207157f347800017f8d372b237e20,曼恩商用车辆贸易（中国）有限公司,1,...,2c9207157f40e97a017f71b1c7c11d59,2022-08-31 18:36:40,2c9207157bf92566017c164de933001c,2,16.0,NaN,"['{""endDate"": ""2007-06"", ""unified"": true, ""deg...","['{""endDate"": ""2021-07"", ""companyName"": ""长城汽车""...","['{""name"": null}']",20220831
83300,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,JD20220310145016638173,首席产品官,NaN,110400,其他产品职位,2c9207157bcbb76b017bf1dde7c329ac,深圳点链科技有限公司,1,...,2c9207157fbca091017fcf0b0ecb32d2,2022-08-10 06:56:20,2c9207157fbca091017fcf0b0ecb32d2,1,10.0,NaN,"['{""endDate"": ""2012-01"", ""unified"": true, ""deg...","['{""endDate"": ""2022-08"", ""companyName"": ""腾讯科技(...","['{""endDate"": ""2022-08"", ""jobTitle"": ""产品运营"", ""...",20220831

In [15]:
# 以cv_id和jd_id进行去重，去重后规模82333
data_20220831_drop_dup = data_20220831.drop_duplicates(subset=['cv_id', 'jd_id'], keep='first').reset_index(drop=True)
data_20220831_drop_dup

,cv_id,jd_id,jd_code,title,deadline,category_id,category_name,company_id,company_name,recruit_number,...,updatedBy,updatedTime,uploaderId,version,workYear,avatar,eduTracks,jobTracks,projectTracks,ds.1
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,JD20210910115615503390,市场营销负责人,2021-11-30 23:59:59.0,140101,市场营销,2c9207157bcbb76b017bcdd5f254038a,深圳市快易典教育科技有限公司,1,...,67,2021-12-16 17:25:39,67,1,13.0,NaN,"['{""degree"": ""本科"", ""endDate"": ""2008-07"", ""id"":...","['{""companyName"": ""深圳市亿科数字科技有限公司"", ""descriptio...","['{""companyName"": ""*深圳市蜂联科技有限公司（奇虎360）"", ""desc...",20220831
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,JD20210918160449291911,会员管理经理,2021-10-31 23:59:59.0,130101,用户运营,2c9207157b9b9199017bc895b2f23a39,上海晨光文具股份有限公司,1,...,2c9207157bcd68cf017bf309f6cb003c,2021-09-22 21:00:12,2c9207157bcd68cf017bf309f6cb003c,1,7.0,NaN,"['{""degree"": ""本科"", ""endDate"": ""2014-06"", ""id"":...","['{""companyName"": ""北京美餐好客科技有限公司"", ""companyNatu...","['{""description"": ""项目描述: 母婴类人群，包含童装、童鞋、奶粉。\\n运...",20220831
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,JD20210923104433723714,产品市场经理,2021-10-31 23:59:59.0,110101,产品经理,2c9207157bf94d99017c108765c804aa,凯斯纽荷兰（中国）管理有限公司,1,...,121,2021-10-12 09:51:56,121,1,14.0,NaN,"['{""degree"": ""硕士"", ""endDate"": ""2012-09"", ""id"":...","['{""companyName"": ""Continental Tires (China) L...",NaN,20220831
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,JD20211126124504034196,海外区域运营经理/高级经理,2022-02-28 23:59:59.0,130000,运营,2c9207157bf94d99017c1714f34e1715,广州市百果园网络科技有限公司,1,...,2c9207157bcd68cf017becb0f28b0025,2021-11-23 10:16:45,2c9207157bcd68cf017becb0f28b0025,1,3.0,NaN,"['{""degree"": ""硕士"", ""endDate"": ""2019-06"", ""id"":...","['{""companyName"": ""北京星制科技有限公司（全民快乐）"", ""descrip...","['{""description"": ""主播表现，直播平均 2 场，平台新用户 12926，主...",20220831
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,JD20211130113932574529,高级项目经理,NaN,310000,高级管理,2c9207157bf94d99017c2f902e952262,深圳纳欣科技有限公司,1,...,28,2021-12-15 13:47:16,28,1,5.0,https://image0.lietou-static.com/big/5f8fa3bde...,"['{""degree"": ""硕士"", ""endDate"": ""2016-07"", ""id"":...","['{""companyName"": ""酷狗音乐"", ""companyTags"": ""互联网+...","['{""companyName"": ""酷狗音乐"", ""description"": ""酷狗20...",20220831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,JD20220822112125679712,品牌负责人,NaN,130402,运营总监,8a69c4df82b081d30182c37f39d00627,浙江温家味食品科技有限公司,1,...,8a69f61e82926af00182c9b341b36129,2022-08-23 17:15:26,8a69f61e82926af00182c9b341b36129,1,11.0,NaN,"['{""endDate"": ""2012-06"", ""unified"": true, ""deg...","['{""endDate"": ""2022-06"", ""companyName"": ""江苏领迅食...","['{""name"": null}']",20220831
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,JD20220818193847553940,大区销售总监,NaN,140402,销售总监,8a69c47b82b07fdc0182b0b5e27a6357,上海普适导航科技股份有限公司,5,...,8a69c4b9820f193401821984f2517399,2022-08-25 13:50:02,8a69c4b9820f193401821984f2517399,1,14.0,NaN,"['{""endDate"": ""2008-06"", ""unified"": true, ""deg...","['{""endDate"": ""2022-08"", ""companyName"": ""安徽庆宇光...","['{""name"": null}']",20220831
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,JD20220520123312243433,java开发工程师（不限方向）,NaN,100101,Java,2c92071580b3a1010180dcf9c08d56cc,上海泛微软件有限公司,30,...,2c92071581ec1aab0181f0475082756f,2022-08-22 10:59:17,2c92071581ec1aab0181f0475082756f,1,5.0,NaN,"['{""endDate"": ""2018-07"", ""unified"": true, ""deg...","['{""endDate"": ""2022-08"", ""companyName"": ""泰猎人力(...","['{""description"": ""项目描述: 客服云智库是河南电信客服人员内部使用的一套...",20220831
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,JD20220629161617600853,Legal Senior Manager,NaN,150506,法务经理,2c9207157f347800017f8d372b237e20,曼恩商用车辆贸易（中国）有限公司,1,...,2c9207157f40e97a017f71b1c7c11d59,2022-08-31 18:36:40,2c9207157bf92566017c164de933001c,2,16.0,NaN,"['{""endDate"": ""2007-06"", ""unified"": true, ""deg...","['{""endDate"": ""2021-07"", ""companyName"": ""长城汽车""...","['{""name"": null}']",20220831
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,JD20220310145016638173,首席产品官,NaN,110400,其他产品职位,2c9207157bcbb76b017bf1dde7c329ac,深圳点链科技有限公司,1,...,2c9207157fbca091017fcf0b0ecb32d2,2022-08-10 06:56:20,2c9207157fbca091017fcf0b0ecb32d2,1,10.0,NaN,"['{""endDate"": ""2012-01"", ""unified"": true, ""deg...","['{""endDate"": ""2022-08"", ""companyName"": ""腾讯科技(...","['{""endDate"": ""2022-08"", ""jobTitle"": ""产品运营"", ""...",20220831

In [17]:
# order_time_df_drop_dup和data_20220831_drop_dup以['cv_id', 'jd_id']进行inner join
data_20220831_drop_dup_order_time = data_20220831_drop_dup.join(order_time_df_drop_dup.set_index(['cv_id', 'jd_id']), on=['cv_id', 'jd_id'], how='inner')
data_20220831_drop_dup_order_time[['cv_id', 'jd_id', 'pair_created_time']]

,cv_id,jd_id,pair_created_time
0,2c9207157bf91042017c0d2beef00470,2c9207157bcbb76b017bcde2b46d04cd,2021-09-22 19:02:46.0
1,2c9207157bf91042017c0d979cbb047d,2c9207157bcbb76b017bf7f2bbbb3153,2021-09-22 21:00:21.0
2,2c9207157bf91042017c7232fbab3be1,2c9207157bf94d99017c108f769405e0,2021-10-12 14:12:17.0
3,2c9207157d308592017d4a94cb1113a1,2c9207157d2f0ec5017d5a9265ba33d9,2021-12-09 11:14:22.0
4,2c9207157dabb0a3017dbca16cdf4c26,2c9207157d631abb017d6eed1c79139f,2021-12-15 13:47:16.0
...,...,...,...
82328,8a69f60582c8626e0182c9fc367050e6,8a69c4df82b081d30182c391c1f51bfc,2022-08-23 17:15:27.0
82329,8a69f60582c8626e0182cedb7ca86dc8,8a69c47b82b07fdc0182b3dcd51b7a71,2022-08-24 15:59:49.0
82330,8a69f61382b080760182c37a984f3a9a,2c92071580dd3ab70180f18714e119c0,2022-08-22 10:56:20.0
82331,8a69f64782e59cc90182f37791dc6649,8a69d77e82926b410182b011869b3b74,2022-08-31 18:35:12.0
82332,8a69f68b827cca09018284d2bd4d2958,2c92071581900df301819064f39848b3,2022-08-15 15:29:23.0

In [21]:
cv_jd_time = data_20220831_drop_dup_order_time[['cv_id', 'jd_id', 'pair_created_time']].sort_values(by='pair_created_time').reset_index(drop=True)
cv_jd_time

,cv_id,jd_id,pair_created_time
0,2c9207157b9492d2017b9f6f46a40181,2c9207157b9b9199017b9f34d103029b,2021-09-01 11:38:07.0
1,2c9207157b9492d2017b9f4220f6013a,2c9207157b9b9199017b9f34d103029b,2021-09-01 11:40:01.0
2,2c9207157b9492d2017bb033724b0517,2c9207157b9b9199017baeecc9ba1c1a,2021-09-04 17:47:53.0
3,2c9207157b9492d2017bb9f4a59e05e1,2c9207157b9b9199017bb9dd97b72273,2021-09-06 15:18:31.0
4,2c9207157b9492d2017bb9fa393405ed,2c9207157b9b9199017bb9dfafc722b3,2021-09-06 15:20:15.0
...,...,...,...
82328,8a69d71b829f59ae0182a5b08f155879,8a69d77e82926b410182a0f027fc0b28,2022-08-31 20:36:06.0
82329,8a69c4e9824fd55f01825db085f362f7,8a69c4df82b081d30182b415dd2e3264,2022-08-31 20:40:02.0
82330,8a69f64782e59cc90182f40935156a34,2c92071581d380a00181eac4402763d3,2022-08-31 21:13:41.0
82331,8a69f64782e59cc90182f4274f416a61,8a69c468826ee9b401828c27660a7611,2022-08-31 21:51:44.0
82332,8a69c4be82eac3280182f42b8a653f98,8a69c47b82b07fdc0182b3dcd51b7a71,2022-08-31 21:55:25.0

In [22]:
cv_jd_time['pair_created_time'][0].__class__

str

In [24]:
'2022-08-31 21:55:25.0'.split(' ')

['2022-08-31', '21:55:25.0']

In [23]:
cv_jd_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82333 entries, 0 to 82332
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cv_id              82333 non-null  object
 1   jd_id              82333 non-null  object
 2   pair_created_time  82333 non-null  object
dtypes: object(3)
memory usage: 1.9+ MB

In [31]:
'2021-09-01'[:7]

'2021-09'

In [50]:
# pair_created_time列只保留到天
def get_day_fun(series):
    pair_created_time = series['pair_created_time']
    day_time = pair_created_time.split(' ')[0]
    return day_time

# pair_created_time列只保留到月
def get_month_fun(series):
    pair_created_time = series['pair_created_time']
    day_time = pair_created_time.split(' ')[0]
    return day_time[:7]

cv_jd_time['day'] = cv_jd_time.apply(get_day_fun, axis=1)
cv_jd_time['month'] = cv_jd_time.apply(get_month_fun, axis=1)
cv_jd_time

,cv_id,jd_id,pair_created_time,day,month
0,2c9207157b9492d2017b9f6f46a40181,2c9207157b9b9199017b9f34d103029b,2021-09-01 11:38:07.0,2021-09-01,2021-09
1,2c9207157b9492d2017b9f4220f6013a,2c9207157b9b9199017b9f34d103029b,2021-09-01 11:40:01.0,2021-09-01,2021-09
2,2c9207157b9492d2017bb033724b0517,2c9207157b9b9199017baeecc9ba1c1a,2021-09-04 17:47:53.0,2021-09-04,2021-09
3,2c9207157b9492d2017bb9f4a59e05e1,2c9207157b9b9199017bb9dd97b72273,2021-09-06 15:18:31.0,2021-09-06,2021-09
4,2c9207157b9492d2017bb9fa393405ed,2c9207157b9b9199017bb9dfafc722b3,2021-09-06 15:20:15.0,2021-09-06,2021-09
...,...,...,...,...,...
82328,8a69d71b829f59ae0182a5b08f155879,8a69d77e82926b410182a0f027fc0b28,2022-08-31 20:36:06.0,2022-08-31,2022-08
82329,8a69c4e9824fd55f01825db085f362f7,8a69c4df82b081d30182b415dd2e3264,2022-08-31 20:40:02.0,2022-08-31,2022-08
82330,8a69f64782e59cc90182f40935156a34,2c92071581d380a00181eac4402763d3,2022-08-31 21:13:41.0,2022-08-31,2022-08
82331,8a69f64782e59cc90182f4274f416a61,8a69c468826ee9b401828c27660a7611,2022-08-31 21:51:44.0,2022-08-31,2022-08
82332,8a69c4be82eac3280182f42b8a653f98,8a69c47b82b07fdc0182b3dcd51b7a71,2022-08-31 21:55:25.0,2022-08-31,2022-08

In [51]:
# cv_jd_time表的数据需要保存
cv_jd_time.to_csv('../generalization_data/cv_jd_time_20220831_82333.pkl')

In [34]:
cv_jd_time.groupby('month').count()

         cv_id  jd_id  pair_created_time    day
month
2021-09    264    264                264    264
2021-10    141    141                141    141
2021-11    328    328                328    328
2021-12   1748   1748               1748   1748
2022-01   3210   3210               3210   3210
2022-02   7969   7969               7969   7969
2022-03  10293  10293              10293  10293
2022-04  15247  15247              15247  15247
2022-05  14183  14183              14183  14183
2022-06  14200  14200              14200  14200
2022-07   8495   8495               8495   8495
2022-08   6255   6255               6255   6255

In [38]:
# 读取包含label的sample表
label_data_20220831 = pd.read_csv('../data_20220831/sample_20220831_spark.csv').drop('Unnamed: 0', axis=1).drop_duplicates(subset=['cv_id', 'jd_id'], keep='first').reset_index(drop=True)
label_df = label_data_20220831[['cv_id', 'jd_id', 'da_label', 'rank_label']]
label_df

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,cv_id,jd_id,da_label,rank_label
0,2c9207157bcb9549017bce3ea49b00fa,2c9207157bcbb76b017bce3d99ba059a,1,1
1,2c9207157bf91042017c1040330d04d3,2c9207157bcbb76b017bec76efca1ca5,-1,1
2,2c9207157bf91042017c10f871d309f4,2c9207157f347800017f624770866105,1,1
3,2c9207157bf91042017c62fce2583411,2c9207157b9b9199017bca11fd3d3f11,2,2
4,2c9207157bf91042017c6ecc163d3aa8,2c9207157bf94d99017c6ecb294930b1,3,3
...,...,...,...,...
82328,8a69d7c28219945301823a12e0266463,8a69c4df82b081d30182c9ec1ecd1c67,-1,1
82329,8a69d7c282199453018246ebf6b60643,8a69f67f82198d89018234adfcd91510,-1,2
82330,8a69d7c282199453018247bb00cb68a3,8a69c468826ee9b40182831bedfc5e79,3,3
82331,8a69d7c282199453018247bb00cb68a3,8a69f6f8823a93b9018247c30aca4e3d,-1,2
82332,8a69f68b828a2cd901829182c78e1c50,8a69c468826ee9b4018290a8b6460496,3,3

In [41]:
# cv_jd_time和label_df进行inner join
cv_jd_time_label = cv_jd_time.join(label_df.set_index(['cv_id', 'jd_id']), on=['cv_id', 'jd_id'], how='inner')
cv_jd_time_label

,cv_id,jd_id,pair_created_time,day,month,da_label,rank_label
0,2c9207157b9492d2017b9f6f46a40181,2c9207157b9b9199017b9f34d103029b,2021-09-01 11:38:07.0,2021-09-01,2021-09,-1,1
1,2c9207157b9492d2017b9f4220f6013a,2c9207157b9b9199017b9f34d103029b,2021-09-01 11:40:01.0,2021-09-01,2021-09,-1,1
2,2c9207157b9492d2017bb033724b0517,2c9207157b9b9199017baeecc9ba1c1a,2021-09-04 17:47:53.0,2021-09-04,2021-09,3,3
3,2c9207157b9492d2017bb9f4a59e05e1,2c9207157b9b9199017bb9dd97b72273,2021-09-06 15:18:31.0,2021-09-06,2021-09,-1,1
4,2c9207157b9492d2017bb9fa393405ed,2c9207157b9b9199017bb9dfafc722b3,2021-09-06 15:20:15.0,2021-09-06,2021-09,3,3
...,...,...,...,...,...,...,...
82328,8a69d71b829f59ae0182a5b08f155879,8a69d77e82926b410182a0f027fc0b28,2022-08-31 20:36:06.0,2022-08-31,2022-08,-1,2
82329,8a69c4e9824fd55f01825db085f362f7,8a69c4df82b081d30182b415dd2e3264,2022-08-31 20:40:02.0,2022-08-31,2022-08,2,2
82330,8a69f64782e59cc90182f40935156a34,2c92071581d380a00181eac4402763d3,2022-08-31 21:13:41.0,2022-08-31,2022-08,-1,1
82331,8a69f64782e59cc90182f4274f416a61,8a69c468826ee9b401828c27660a7611,2022-08-31 21:51:44.0,2022-08-31,2022-08,-1,1
82332,8a69c4be82eac3280182f42b8a653f98,8a69c47b82b07fdc0182b3dcd51b7a71,2022-08-31 21:55:25.0,2022-08-31,2022-08,-1,1

In [45]:
# 取出2022-08的数据
cv_jd_time_label[cv_jd_time_label['month']=='2022-08']

,cv_id,jd_id,pair_created_time,day,month,da_label,rank_label
76078,8a69c40a824fd678018254f3e5d22f72,2c92071581900df30181a80e76f10589,2022-08-01 09:01:50.0,2022-08-01,2022-08,0,0
76079,8a69c40a8256f560018256f65f5000da,8a69c4a8820f0ee00182143637b71ef3,2022-08-01 09:12:44.0,2022-08-01,2022-08,3,3
76080,8a69c40a8256f56001825701aa580b9a,8a69f68e82198e9101821a368c682309,2022-08-01 09:29:47.0,2022-08-01,2022-08,-1,1
76081,8a69c4e9824fd55f0182570604ab01e3,8a69f6f8823a93b901824352df765622,2022-08-01 09:30:18.0,2022-08-01,2022-08,1,1
76082,8a69c4e9824fd55f0182570730920305,2c92071581d380a00181ebeb9fd3392a,2022-08-01 09:33:02.0,2022-08-01,2022-08,-1,1
...,...,...,...,...,...,...,...
82328,8a69d71b829f59ae0182a5b08f155879,8a69d77e82926b410182a0f027fc0b28,2022-08-31 20:36:06.0,2022-08-31,2022-08,-1,2
82329,8a69c4e9824fd55f01825db085f362f7,8a69c4df82b081d30182b415dd2e3264,2022-08-31 20:40:02.0,2022-08-31,2022-08,2,2
82330,8a69f64782e59cc90182f40935156a34,2c92071581d380a00181eac4402763d3,2022-08-31 21:13:41.0,2022-08-31,2022-08,-1,1
82331,8a69f64782e59cc90182f4274f416a61,8a69c468826ee9b401828c27660a7611,2022-08-31 21:51:44.0,2022-08-31,2022-08,-1,1
82332,8a69c4be82eac3280182f42b8a653f98,8a69c47b82b07fdc0182b3dcd51b7a71,2022-08-31 21:55:25.0,2022-08-31,2022-08,-1,1

In [49]:
cv_jd_time_label[~((cv_jd_time_label['da_label']==-1)&(cv_jd_time_label['rank_label']==1))][cv_jd_time_label['month']=='2022-08']['rank_label'].value_counts()

/Users/jinrirencai/opt/anaconda3/envs/tsinghua/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

2    2517
1    1631
3     891
0     308
Name: rank_label, dtype: int64